<div class="container bg-primary">
  <div class="window">
    <div class="top-window">
      <p>x</p>
    </div>
    <div class="bottom-window">
      <h1>Manifesto</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat vitae hic repudiandae veritatis, aliquid est! Rerum voluptatum voluptatem et sed perferendis placeat eaque temporibus quos id voluptates saepe pariatur eum, expedita unde consectetur a delectus quidem aperiam omnis iure ipsum facere beatae nulla. Fugit dolorem blanditiis dolorum maxime saepe ullam.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat vitae hic repudiandae veritatis, aliquid est! Rerum voluptatum voluptatem et sed perferendis placeat eaque temporibus quos id voluptates saepe pariatur eum, expedita unde consectetur a delectus quidem aperiam omnis iure ipsum facere beatae nulla. Fugit dolorem blanditiis dolorum maxime saepe ullam.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat vitae hic repudiandae veritatis, aliquid est! Rerum voluptatum voluptatem et sed perferendis placeat eaque temporibus quos id voluptates saepe pariatur eum, expedita unde consectetur a delectus quidem aperiam omnis iure ipsum facere beatae nulla. Fugit dolorem blanditiis dolorum maxime saepe ullam.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat vitae hic repudiandae veritatis, aliquid est! Rerum voluptatum voluptatem et sed perferendis placeat eaque temporibus quos id voluptates saepe pariatur eum, expedita unde consectetur a delectus quidem aperiam omnis iure ipsum facere beatae nulla. Fugit dolorem blanditiis dolorum maxime saepe ullam.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat vitae hic repudiandae veritatis, aliquid est! Rerum voluptatum voluptatem et sed perferendis placeat eaque temporibus quos id voluptates saepe pariatur eum, expedita unde consectetur a delectus quidem aperiam omnis iure ipsum facere beatae nulla. Fugit dolorem blanditiis dolorum maxime saepe ullam.</p>
    </div>
  </div>
</div>
